---
type Props = {
    id: number
    title: string
    description: string
    featureImage: string
}

const {id, title, description, featureImage} = Astro.props;
---
<div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition-transform duration-300">

    <div class="relative">
        <img src={featureImage} alt={title} class="w-full h-64 object-cover rounded-t-lg" />
        <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-30"></div>
    </div>


    <div class="p-6">
        <h3 class="text-2xl font-bold text-gray-800 mb-2">{title}</h3>
        <p class="text-gray-700 mb-4">{description}</p>
        <a href={`/projects/${id}`} class="inline-block bg-red-500 text-white text-sm font-semibold py-2 px-4 rounded hover:bg-red-600 transition-colors duration-300">
            Ver Proyecto
        </a>
    </div>
</div>